## Concept 1: Tuples vs. Lists
A ***tuple*** is another way to save a group of related pieces of data in Python.<br>

The biggest difference between a tuple and a list is that a tuple is ***immutable***, which means that we cannot add or remove items from a tuple after we have defined it.<br>
However, as with lists, we can:<br>
* Store values of any data type, including different data types in the same tuple
* Compute the length of a tuple
* Use index values to retrieve specific items from a tuple
* Slice tuples to retrieve multiple items at the same time

### Example 1:
Tuples are another basic data type in Python, and creating a tuple is nearly the same as creating a list. The only differences are that we use parentheses to group the values in a tuple, instead of the sqaure brackets used to create a list, and that we must create a tuple in its entirety when we first define it.<br>

As with a list, we can use any data type in a tuple and we can mix data types in a single tuple.<br>

In the following example, we create one tuple that includes only numbers and a second tuple that contains strings and numbers.

In [3]:
age_range = (18,120)
print(age_range)
print(type(age_range))
print("\n")

info = ("Maria", "Smith", 31, "123 Main Street", "000-000-0000")
print(info)
print(type(info))

(18, 120)
<class 'tuple'>


('Maria', 'Smith', 31, '123 Main Street', '000-000-0000')
<class 'tuple'>

### Practice 1: 
Create a tuple that contains the following information:<br>
* Your first name
* Your last name
* Your age
* The average number of miles you travel to work every day (round-trip)

In [4]:
my_info = ("Tony", "Landero", 40, 36.0)
print(my_info)
print(type(my_info))

('Tony', 'Landero', 40, 36.0)
<class 'tuple'>

## Concept 2: Length
We can use the **```len```** method to compute the number of elements in a tuple, using the syntax **```len(tuple)```**.

### Example 2:
The following code starts with the same **```info```** tuple as the previous example and returns the number of items in the tuple.

In [5]:
info = ("Maria", "Smith", 31, "123 Main Street", "000-000-0000")
print(len(info))

5

### Practice 2:
Create a tuple that contains a series of items and then calculate the length of the tuple.<br>

You may use the code from Practice 1 above as a starting point if you wish.

In [7]:
my_info = ("Tony", "Landero", 40, 36.0, "Baseball", "Tacos")
print("The number of elements in this tuple is:", len(my_info))

The number of elements in this tuple is: 6

## Concept 3: Index Values
Python assigns an index value to each item in a tuple, starting with the value 0 for the first item and using sequential values for the remaining items. The last item has an index value equal to the length of the tuple minus 1.<br>

We can use these values to retrieve specific items from the tuple, using the syntax **```tuple[index]```**.<br>

If we attempt to retrieve an item using a non-existent index, Python will throw an error.

### Example 3:
The following example starts with the same **```info```** tuple from previous examples, and we retrieve each of the values in the tuple sequentially.<br>

Python throws an error when we try to use a non-existent index.

In [10]:
info = ("Maria", "Smith", 31, "123 Main Street", "000-000-0000")
print(info)
print(len(info))
print("\n")

print(info[0]) # Retrieves the first item in the tuple
print(info[1])
print(info[2])
print(info[3])
print(info[4])
print(info[5]) # This statement throws an error because there are only five items in the tuple

('Maria', 'Smith', 31, '123 Main Street', '000-000-0000')
5


Maria
Smith
31
123 Main Street
000-000-0000

IndexError: tuple index out of range

### Practice 3:
Fix the following code so all the information is displayed correctly.

In [12]:
# do not change the first line of code
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "46410", "219-555-4876") 
print(info)
 
# change the index values to produce the correct outputs
print("Last name: "+info[1])
print("First name: "+info[0])
print("Phone number: "+info[6])
print("Street: "+info[2])
print("City: "+info[3])
print("State: "+info[4])
print("Zip code: "+info[5])

('Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '46410', '219-555-4876')
Last name: Vance
First name: Jonathan
Phone number: 219-555-4876
Street: 679 Birchpond Street
City: Merrillville
State: IN
Zip code: 46410

## Concept 4: Negative Indexing
Tuples in Python support negative indexing, which counts from the end of the tuple.<br>

As shown in the following example, the index value **```-1```** always references the last item in a tuple, regardless of how many items there are. Sequential negative values count backwards from there, so **```-2```** is the next-to-last item, **```-3```** is the third-to-last item, and so on.<br>

Python will throw an error if the negative index value references an item that does not exist.

### Example 4:
Look at the code below and predict which value each variable references in the tuple.<br>
Confirm your answers in the associated output.

In [13]:
info = ("Maria", "Smith", 31, "123 Main Street", "000-00-0000", "Boston", "Software Developer")

print(info[-1]) # Software Developer
print(info[-2]) # Boston
print(info[-9]) # Error

Software Developer
Boston

IndexError: tuple index out of range

### Practice 4:
Use negative indexing to display all the items in the tuple below in alphabetical order.

In [14]:
info = ("Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson", "Van Buren")
 
# your code here
print(info[-3])
print(info[-7])
print(info[-2])
print(info[-6])
print(info[-5])
print(info[-4])
print(info[-1])
print(info[-8])

Adams
Adams
Jackson
Jefferson
Madison
Monroe
Van Buren
Washington

## Concept 5: Slicing Tuples
Python supports slicing in tuples, which allows us to retrieve a range of multiple elements from the tuple with a single command.<br>

We use the syntax **```tuple[range]```** to retrieve a range of items from a tuple.<br>
Options include:<br>
* **```tuple[x:y]:```** Retrieves a range of values starting with index **```x```** and ending with the item ***before*** index **```y```**. If **```y```** is equal to the length of the tuple, the output includes the last item in the tuple.
* **```tuple[:y]:```** Retrieves the items from index 0 through the item ***before*** index **```y```**. This is equivalent to using **```[0:y]```**.
* **```tuple[x:]:```** Retrieves a string that starts with the item whose index is **```x```** and includes all items to the right of that item. This is equivalent to using **```[x:(length)]```**.

### Example 5:
The following example demonstrates slicing a tuple to retrieve a name and an address.

In [18]:
info = ("Jonathan", "Vance", "679 Birchpond Street","Merrillville", "IN", "46410")

# We extract only the first two elements from the tuple and store them in a new tuple
name = info[0:2]
print("The name is:")
print(name)

# We extract only the last four elements from the tuple and store them in a new tuple
address = info[2:6]
print("\nThe address is:")
print(address)

The name is:
('Jonathan', 'Vance')

The address is:
('679 Birchpond Street', 'Merrillville', 'IN', '46410')

### Practice 5a:
Update the code from the pervious example so that each range references only one index value.<br>

The output should be identical to what is shown above.

In [19]:
info = ("Jonathan", "Vance", "679 Birchpond Street","Merrillville", "IN", "46410")

# We extract only the first two elements from the tuple and store them in a new tuple
name = info[:2] # Remove the 0
print("The name is:")
print(name)

# We extract only the last four elements from the tuple and store them in a new tuple
address = info[2:] # remove the 6
print("\nThe address is:")
print(address)

The name is:
('Jonathan', 'Vance')

The address is:
('679 Birchpond Street', 'Merrillville', 'IN', '46410')

### Practice 5b:
The tuple below contains the abbreviation of all the states in the USA.<br>

Use slicing to create three new tuples:<br>
* One tuple that contains all states that start with N
* One tuple that contains all states that start with O
* One tuple that contains all states that start with A

In [22]:
states = ("AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY")
 
# your code here 
tuple_n = states[26:34]
print("The states that start with N are:")
print(tuple_n)
print("\n")

tuple_o = states[-16:-13]
print("The states that start with O are:")
print(tuple_o)
print("\n")

tuple_a = states[:4]
print("The states that start with A are:")
print(tuple_a)

The states that start with N are:
('NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND')


The states that start with O are:
('OH', 'OK', 'OR')


The states that start with A are:
('AL', 'AK', 'AZ', 'AR')

## Concept 6: Immutability
Tuples are ***immutable***, which means that we cannot add or remove items after we have defined a tuple.<br>

Attempts to append items at the end of the tuple, insert new items, or remove existing items will result in errors.

### Example 6a:
Tuples so not support the **```append```** method.

In [24]:
info = ("Maria", "Smith", 31, "123 Main Street", "Boston") 
print(info)

info.append("MA")

('Maria', 'Smith', 31, '123 Main Street', 'Boston')

AttributeError: 'tuple' object has no attribute 'append'

### Example 6b:
Tuples do not support the **```insert```** method.

In [26]:
info = ("Maria", "Smith", 31, "123 Main Street", "Boston") 
print(info)

info.insert(5, "MA")

('Maria', 'Smith', 31, '123 Main Street', 'Boston')

AttributeError: 'tuple' object has no attribute 'insert'

### Example 6c:
Tuples do not support the **```remove```** method.

In [28]:
info = ("Maria", "Smith", 31, "123 Main Street", "Boston") 
print(info)

info.remove("Boston")

('Maria', 'Smith', 31, '123 Main Street', 'Boston')

AttributeError: 'tuple' object has no attribute 'remove'

### Practice 6:
Attempt each of the following tasks on the tuple defined below:<br>
* Add an integer representing Jonathan's age as the last item in the tuple.
* Add the zip code "46410" between the state and phone number.
* Remove the phone number from the tuple. Attempt each of the tasks individually, run the code to see what happens, and then attempt the next task in the list.<br>

***Challenge:*** Change the code so that the data is stored as a list rather than as a tuple and attempt each of the tasks again.

In [32]:
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "219-555-4876") 
print(info)

# info.append(40) --> Error

# info.insert(5, "46410") --> Error

# info.remove("219-555-4876") --> Error

('Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '219-555-4876')

AttributeError: 'tuple' object has no attribute 'remove'

In [36]:
# Challenge
info = ["Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "219-555-4876"]
print(info)

info.append(40)
print(info)

info.insert(5, "46410")
print(info)

info.remove("219-555-4876")
print(info)

['Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '219-555-4876']
['Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '219-555-4876', 40]
['Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '46410', '219-555-4876', 40]
['Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '46410', 40]

## Concept 7: Concatenating Tuples
We can use the **```+```** operator to concatenate two or more tuples in Python, using the syntax **```tuple1 + tuple2 + tuple3...```**<br>

The result is a new tuple that includes all items in the original tuples.

### Example 7:
In this example, we start with two tuples, each of which include two names. We then concatenate the tuples into a new, third tuple that contains all items in the original two tuples.

In [39]:
tuple_of_names_1 = ("Haythem", "Mike")
print(tuple_of_names_1)

tuple_of_names_2 = ("Jesse", "Layla")
print(tuple_of_names_2)

tuple_of_names = tuple_of_names_1 + tuple_of_names_2
print(tuple_of_names)

('Haythem', 'Mike')
('Jesse', 'Layla')
('Haythem', 'Mike', 'Jesse', 'Layla')

### Practice 7:
Create three tuples:<br>
* One tuple with a person's first and last names
* A second tuple with the person's complete address
* A third tuple with contact information, such as a phone number and an email address<br>

Combine all tuples into a new, single tuple that contains all of the items from the original tuples.

In [43]:
name_tuple = ("Tony", "Landero")
print(name_tuple)

address_tuple = ("123 Main Street", "Houston", "TX", "77777")
print(address_tuple)

contact_tuple = ("555-555-5555", "some.email@gmail.com")
print(contact_tuple)

record_tuple = name_tuple + address_tuple + contact_tuple
print(record_tuple)

('Tony', 'Landero')
('123 Main Street', 'Houston', 'TX', '77777')
('555-555-5555', 'some.email@gmail.com')
('Tony', 'Landero', '123 Main Street', 'Houston', 'TX', '77777', '555-555-5555', 'some.email@gmail.com')