### Example 6:
In this example, we create a list named **```dataset```** that itself includes multiple lists. Each of the embedded lists represents a row of data, so when we use **```writer.writerows```**, each nested list is added to the file as a new row of data. <br>

The values in each nested list must be in the same order as the columns in the CSV file; otherwise, the data will not be structured correctly in the updated file.

In [1]:
import csv

In [2]:
dataset = [["EMP9807976877","mary","donald"],["EMP9807976872","jacky","foreman"],
           ["EMP4564564598","leslie","knope"]] 
           # A list of lists: each nested list is a separate row

In [3]:
# Open the file in append mode, which will add the data at the end of the file
with open("employee.csv", "a") as csv_file:
    # Use the writer class to create a writer object that we will use to write data into the file
    writer = csv.writer(csv_file,delimiter=",")
    # Write multiple rows at once using writerows
    writer.writerows(dataset)
csv_file.close()

In [4]:
f = open("employee.csv", "r")
print(f.read())
f.close()

employee_id,first_name,last_name

EMP2345235636,robert,balti

EMP2498799899,mark,smith

EMP2498989890,mary,caldwell

EMP4564576566,jack,russel

EMP9807976875,jenny,clapper

EMP4564564566,mario,cruz

EMP9807976877,mary,donald

EMP9807976872,jacky,foreman

EMP4564564598,leslie,knope